


<%

number  = isbn_number.to_i
number1 = isbn(number)
number2 = number1.to_s

amazon = "https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Dstripbooks&field-keywords="

full_address = amazon + number2
%>

<%= number1 %>
<%= full_address %>

<body>
<p><a href=<%= full_address%>

	>Click to try another name</a></p>
<body>