<h1>Welcome to Book Finder!!</h1> 
<br>
<h2>This app will direct you to the book page on the Amazon.com site for the ISBN number that is entered below:
<br>
</h2>
<br>

<h2>Enter a valid 10-digit or 13-digit ISBN number:
</h2>

<form method="post" action="isbn_out">
	<input type="integer" name="isbn_number">
	<br><br>

	<input type="submit">
</form>	